# CEO Questions/Perguntas do CEO
### 1 - How many houses are available?/Quantas casas estão disponiveis?
### 2 - How many attributes do the houses have?/Quantos atruibutos as casas possuem?
### 3 - What are the attributes of houses?/Quais são os atributos das casas?
### 4 - What is the most expensive house (house with the highest sale value)?/Qual a casa mais cara(casa com maior valor de venda)?
### 5 - Which house has the most rooms?/Qual a casa com maior numero de quartos?
### 6. What is the total sum of quarters in the dataset?/Qual a soma total de quartos do conjunto de dados?
### 7. How many homes have 2 bathrooms?/Quantas casas possuem 2 banheiros?
### 8. What is the average price of all houses in the dataset?/Qual o preço médio de todas as casas no conjunto de dados?
### 9. What is the average price of 2-bathroom homes?/Qual o preço médio de casas com 2 banheiros?
### 10. What is the minimum price among 3-bedroom homes?/Qual o preço mínimo entre as casas com 3 quartos?
### 11. How many homes have more than 300 square meters in the living room?/Quantas casas possuem mais de 300 metros quadrados na sala de estar?
### 12. How many houses have more than 2 floors?/Quantas casas tem mais de 2 andares?
### 13. How many houses have an ocean view?/Quantas casas tem vista para o mar?
### 14. Of the houses with an ocean view, how many have 3 bedrooms?/Das casas com vista para o mar, quantas tem 3 quartos?
### 15. Of the homes with more than 300 square meters of living room, how many have more than 2 bathrooms?/Das casas com mais de 300 metros quadrados de sala de estar, quantas tem mais de 2 banheiros?

In [46]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
import plotly.express as px

In [47]:
datahouses = pd.read_csv("kc_house_data.csv")

# 1 - How many houses are available/Quantas casas estão disponiveis?

#### Estão disponiveis 21436 casas para vendas.

In [48]:
# Quantas casas estão disponiveis para compra?
df = len(datahouses['id'].unique())
print(df)

21436

# 2  - How many attributes do the houses have/Quantos atruibutos as casas possuem?

#### O numero de atributos da casa é 19

In [49]:
# Quais são os atributos das casa?
# atributos são a quantidade de colunas que o .csv possue, ID e DATA não devem ser considerados
num_attributes = len(datahouses.columns) -2
print(num_attributes)

19

# 3 - What are the attributes of houses/Quais são os atributos das casas?

#### ['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15']

In [28]:
# Quais os atributos da casa?
# ID e DATA não são atributos então podemos apenas excluilos e exibir as colunas disponiveis nos dados que possuiemos
df = datahouses.drop(['id', 'date'], axis=1)
print(df.columns.tolist())

['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15']

#### Os atributos das casas são:
['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15']

# 4 - What is the most expensive house (house with the highest sale value)/Qual a casa mais cara(casa com maior valor de venda)?

#### A casa mais cara é a de ID 72552, com valor de 7129300520

In [29]:
# Qual a casa mais cara?
# Stratégia: Selecionar a coluna "id", "price", ordenar as casas pela coluna "price" em ordem decrescente e
# escolher o imóvel do primeiro id.
house_expensive = datahouses[['id', 'price']].sort_values( 'price', ascending=False ).loc[0,'id']
print( 'Most expensive house: {}'.format( house_expensive ) )

Most expensive house: 7129300520

# 5 - Which house has the most rooms/Qual a casa com maior numero de quartos?

#### A casa com maior numero de quartos é a de ID 2402100895 com 33 quartos

In [30]:
# Qual a casa com maior numero de quartos?
datahouses.sort_values(by='bedrooms', ascending=False)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
15870,2402100895,20140625T000000,640000.0,33,1.75,1620,6000,1.0,0,0,...,7,1040,580,1947,0,98103,47.6878,-122.331,1330,4700
8757,1773100755,20140821T000000,520000.0,11,3.00,3000,4960,2.0,0,0,...,7,2400,600,1918,1999,98106,47.5560,-122.363,1420,4960
15161,5566100170,20141029T000000,650000.0,10,2.00,3610,11914,2.0,0,0,...,7,3010,600,1958,0,98006,47.5705,-122.175,2040,11914
13314,627300145,20140814T000000,1148000.0,10,5.25,4590,10920,1.0,0,2,...,9,2500,2090,2008,0,98004,47.5861,-122.113,2730,10400
19254,8812401450,20141229T000000,660000.0,10,3.00,2920,3745,2.0,0,0,...,7,1860,1060,1913,0,98105,47.6635,-122.320,1810,3745
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19452,3980300371,20140926T000000,142000.0,0,0.00,290,20875,1.0,0,0,...,1,290,0,1963,0,98024,47.5308,-121.888,1620,22850
8484,2310060040,20140925T000000,240000.0,0,2.50,1810,5669,2.0,0,0,...,7,1810,0,2003,0,98038,47.3493,-122.053,1810,5685
875,6306400140,20140612T000000,1095000.0,0,0.00,3064,4764,3.5,0,2,...,7,3064,0,1990,0,98102,47.6362,-122.322,2360,4000
8477,2569500210,20141117T000000,339950.0,0,2.50,2290,8319,2.0,0,0,...,8,2290,0,1985,0,98042,47.3473,-122.151,2500,8751
9773,3374500520,20150429T000000,355000.0,0,0.00,2460,8049,2.0,0,0,...,8,2460,0,1990,0,98031,47.4095,-122.168,2520,8050

### Tambem é possivel a forma abaixo:

In [31]:
# Estratégia:
# 1. Selecionar a coluna "id", "bedroom"
# 2. Ordenar os imóveis pelo numero de quartos de ordem decrescente
# 3. Selecionar a primeira coluna "id"
df = datahouses[['id', 'bedrooms']].sort_values( 'bedrooms', ascending=False )
print( 'House with biggest number of bedrooms: {}'.format( df.iloc[0, 0] ) )

House with biggest number of bedrooms: 2402100895

# 6. What is the total sum of quarters in the dataset/Qual a soma total de quartos do conjunto de dados?

#### A soma de quartos é 72854

In [32]:
df = datahouses['bedrooms'].sum()
print(f'The sum of bedrooms is {df}')

The sum of bedrooms is 72854

# 7. How many homes have 2 bathrooms/Quantas casas possuem 2 banheiros?

#### O 1930 casa possuem exatamente 2 quartos

In [33]:
df = datahouses.loc[datahouses['bathrooms']== 2, :]
num_houses = len(df)
print(num_houses)

1930

# 8. What is the average price of all houses in the dataset/Qual o preço médio de todas as casas no conjunto de dados?

#### O preço medio de todas as casas é de 540088.14

In [34]:
df = datahouses['price'].mean()
print(df)

540088.1417665294

# 9.  What is the average price of 2-bathroom homes/Qual o preço médio de casas com 2 banheiros?

#### O preço medio de casas com 2 quartos é de: 401372.68

In [35]:
df = datahouses.loc[datahouses['bathrooms']== 2, :]
mean_price_bathrooms = df['price'].mean()
print(mean_price_bathrooms)

457889.7186528497

# 10. What is the minimum price among 3-bedroom homes/Qual o preço mínimo entre as casas com 3 quartos?

#### O preço minimo entre casa com 3 quartos é de: 82000.0

In [36]:
df = datahouses.loc[datahouses['bedrooms'] == 3, :]
min_price_bedrooms = df['price'].min()
print(min_price_bedrooms)

82000.0

# 11. How many homes have more than 300 square meters in the living room/Quantas casas possuem mais de 300 metros quadrados na sala de estar?

#### 21613 possuem mais de 300 metros² na sala de estar

In [37]:
df['m2'] = datahouses['sqft_living15'] * 0.093 # converting square feet for meters
len(df.loc[df['m2'] > 300, 'id'])
print(df)

               id             date     price  bedrooms  bathrooms  \
0      7129300520  20141013T000000  221900.0         3       1.00
1      6414100192  20141209T000000  538000.0         3       2.25
4      1954400510  20150218T000000  510000.0         3       2.00
6      1321400060  20140627T000000  257500.0         3       2.25
7      2008000270  20150115T000000  291850.0         3       1.50
...           ...              ...       ...       ...        ...
21603  7852140040  20140825T000000  507250.0         3       2.50
21604  9834201367  20150126T000000  429000.0         3       2.00
21607  2997800021  20150219T000000  475000.0         3       2.50
21608   263000018  20140521T000000  360000.0         3       2.50
21611   291310100  20150116T000000  400000.0         3       2.50

       sqft_living  sqft_lot  floors  waterfront  view  ...  sqft_above  \
0             1180      5650     1.0           0     0  ...        1180
1             2570      7242     2.0           0     0  ...        2170
4             1680      8080     1.0           0     0  ...        1680
6             1715      6819     2.0           0     0  ...        1715
7             1060      9711     1.0           0     0  ...        1060
...            ...       ...     ...         ...   ...  ...         ...
21603         2270      5536     2.0           0     0  ...        2270
21604         1490      1126     3.0           0     0  ...        1490
21607         1310      1294     2.0           0     0  ...        1180
21608         1530      1131     3.0           0     0  ...        1530
21611         1600      2388     2.0           0     0  ...        1600

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
0                  0      1955             0    98178  47.5112 -122.257
1                400      1951          1991    98125  47.7210 -122.319
4                  0      1987             0    98074  47.6168 -122.045
6                  0      1995             0    98003  47.3097 -122.327
7                  0      1963             0    98198  47.4095 -122.315
...              ...       ...           ...      ...      ...      ...
21603              0      2003             0    98065  47.5389 -121.881
21604              0      2014             0    98144  47.5699 -122.288
21607            130      2008             0    98116  47.5773 -122.409
21608              0      2009             0    98103  47.6993 -122.346
21611              0      2004             0    98027  47.5345 -122.069

       sqft_living15  sqft_lot15       m2
0               1340        5650  124.620
1               1690        7639  157.170
4               1800        7503  167.400
6               2238        6819  208.134
7               1650        9711  153.450
...              ...         ...      ...
21603           2270        5731  211.110
21604           1400        1230  130.200
21607           1330        1265  123.690
21608           1530        1509  142.290
21611           1410        1287  131.130

[9824 rows x 22 columns]

C:\Users\Wilian\AppData\Local\Temp/ipykernel_6452/2703179625.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['m2'] = datahouses['sqft_living15'] * 0.093 # converting square feet for meters

In [38]:
df1 = df.loc[df['sqft_living15'] >= 300, 'id'].shape[0]
print(df1)

9824

# 12. How many houses have more than 2 floors/Quantas casas tem mais de 2 andares?

#### A quantidade de casas com mais de 2 andares é de: 782

In [50]:
df = datahouses[['id', 'floors']]
print(df)

               id  floors
0      7129300520     1.0
1      6414100192     2.0
2      5631500400     1.0
3      2487200875     1.0
4      1954400510     1.0
...           ...     ...
21608   263000018     3.0
21609  6600060120     2.0
21610  1523300141     2.0
21611   291310100     2.0
21612  1523300157     2.0

[21613 rows x 2 columns]

In [52]:
df1 = df.loc[df['floors'] >= 2 , 'id'].shape[0]
print(df1)

9023

# 13. How many houses have an ocean view/Quantas casas tem vista para o mar?

#### A quantidade de casas que tem vistra para o mar é de: 163

In [41]:
df = datahouses[['id', 'waterfront']]
df1 = df.loc[df['waterfront'] == 1, :].shape[0]
print(df1)

163

# 14. Of the houses with an ocean view, how many have 3 bedrooms/Das casas com vista para o mar, quantas tem 3 quartos?

#### Das casas com vista para o mar **127** tem 3 quartos

In [42]:
df = datahouses[['id','waterfront', 'bedrooms']]
df1 = df.loc[(df['waterfront'] == 1) & (df['bedrooms'] >= 3), 'id'].shape[0]
print(df1)

127

# 15. Of the homes with more than 300 square meters of living room, how many have more than 2 bathrooms/Das casas com mais de 300 metros quadrados de sala de estar, quantas tem mais de 2 banheiros?

#### Das casas com mais de 300 metros quadrados de sala de estar, 11242 tem mais de 2 banheiros.

In [43]:
df = datahouses[['id','sqft_living15', 'bathrooms']]
df1 = df.loc[(df['sqft_living15'] >= 300) & (df['bathrooms'] > 2), 'id'].shape[0]
print(df1)

11242