# Novas perguntas do CEO 


#### 1 - Crie uma nova coluna chamada: “house_age”
Se o valor da coluna “date” for maior que 2014-01-01 => ‘new_house’Se o valor da coluna “date” for menor que 2014-01-01 => ‘old_house’
#### 2 - Crie uma nova coluna chamada: “dormitory_type”
Se o valor da coluna “bedrooms” for igual à 1 => ‘studio’Se o valor da coluna “bedrooms” for igual a 2 => ‘apartament’Se o valor da coluna “bedrooms” for maior que 2 => ‘house’
#### 3 - Crie uma nova coluna chamada: “condition_type”
Se o valor da coluna “condition” for menor ou igual à 2 => ‘bad’Se o valor da coluna “condition” for igual à 3 ou 4 => ‘regular’Se o valor da coluna “condition” for igual à 5 => ‘good’


#### 4 - Modifique o TIPO a Coluna “condition” para STRING

#### 5 - Delete as colunas: “sqft_living15” e “sqft_lot15”

#### 6 - Modifique o TIPO a Coluna “yr_build” para DATE

#### 7 - Modifique o TIPO a Coluna “yr_renovated” para DATE

#### 8 - Qual a data mais antiga de construção de um imóvel?

#### 9 - Qual a data mais antiga de renovação de um imóvel?

#### 10 - Quantos imóveis tem 2 andares?

#### 11 - Quantos imóveis estão com a condição igual a “regular” ?

#### 12 - Quantos imóveis estão com a condição igual a “bad”e possuem “vista para água” ?

#### 13 - Quantos imóveis estão com a condição igual a “good” e são “new_house”?

#### 14 - Qual o valor do imóvel mais caro do tipo “studio” ?

#### 15 - Quantos imóveis do tipo “apartment” foram reformados em 2015 ?

#### 16 - Qual o maior número de quartos que um imóveis do tipo “house” possui ?

#### 17 - Quantos imóveis “new_house” foram reformados no ano de 2014?

#### 18 - Selecione as colunas: “id”, “date”, “price”, “floors”, “zipcode” pelo método:
Direto pelo nome das colunas.Pelos Índices.Pelos Índices das linhas e o nome das colunasÍndices Booleanos        


#### 19 - Salve um arquivo .csv com somente as colunas do item 10 ao 17.

Modifique a cor dos pontos no mapa de “pink” para “verde-escuro”

In [106]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
import plotly.express as px

In [107]:
datahouses = pd.read_csv('kc_house_data.csv')
datahouses['date'] = pd.to_datetime( datahouses['date'], format='%Y-%m-%d' )

#### 1 - Crie uma nova coluna chamada: “house_age”

 ###### Se o valor da coluna “date” for maior que 2014-01-01 => ‘new_house’
 ###### Se o valor da coluna “date” for menor que 2014-01-01 => ‘old_house’

In [108]:
datahouses.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [142]:
datahouses.dtypes

id                           int64
date                datetime64[ns]
price                      float64
bedrooms                     int64
bathrooms                  float64
sqft_living                  int64
sqft_lot                     int64
floors                     float64
waterfront                   int64
view                         int64
condition                   object
grade                        int64
sqft_above                   int64
sqft_basement                int64
yr_built                     int64
yr_renovated                 int64
zipcode                      int64
lat                        float64
long                       float64
sqft_living15                int64
sqft_lot15                   int64
house_age                   object
dormitory_type              object
conditional_type            object
dtype: object

In [110]:
datahouses['house_age'] = 'NA'

In [111]:
datahouses.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15', 'house_age'],
      dtype='object')

In [112]:
datahouses.loc[datahouses['date'] > '2014-01-01', 'house_age'] = 'new_house'
datahouses.loc[datahouses['date'] < '2014-01-01', 'house_age'] = 'old_house'

In [113]:
# Segunda forma de fazer e convertendo tipo de dados
datahouses['date'] = pd.to_datetime(datahouses['date'], format='%Y-%m-%d')
datahouses['house_age'] = datahouses['date'].apply(lambda x: 'new_house' if x > pd.to_datetime('2014-01-01, format='%Y-%m-%d)

SyntaxError: invalid syntax (Temp/ipykernel_11688/244998344.py, line 3)

In [114]:
datahouses.head

<bound method NDFrame.head of                id       date     price  bedrooms  bathrooms  sqft_living  \
0      7129300520 2014-10-13  221900.0         3       1.00         1180
1      6414100192 2014-12-09  538000.0         3       2.25         2570
2      5631500400 2015-02-25  180000.0         2       1.00          770
3      2487200875 2014-12-09  604000.0         4       3.00         1960
4      1954400510 2015-02-18  510000.0         3       2.00         1680
...           ...        ...       ...       ...        ...          ...
21608   263000018 2014-05-21  360000.0         3       2.50         1530
21609  6600060120 2015-02-23  400000.0         4       2.50         2310
21610  1523300141 2014-06-23  402101.0         2       0.75         1020
21611   291310100 2015-01-16  400000.0         3       2.50         1600
21612  1523300157 2014-10-15  325000.0         2       0.75         1020

       sqft_lot  floors  waterfront  view  ...  sqft_above  sqft_basement  \
0          5650     1.0           0     0  ...        1180              0
1          7242     2.0           0     0  ...        2170            400
2         10000     1.0           0     0  ...         770              0
3          5000     1.0           0     0  ...        1050            910
4          8080     1.0           0     0  ...        1680              0
...         ...     ...         ...   ...  ...         ...            ...
21608      1131     3.0           0     0  ...        1530              0
21609      5813     2.0           0     0  ...        2310              0
21610      1350     2.0           0     0  ...        1020              0
21611      2388     2.0           0     0  ...        1600              0
21612      1076     2.0           0     0  ...        1020              0

       yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
0          1955             0    98178  47.5112 -122.257           1340
1          1951          1991    98125  47.7210 -122.319           1690
2          1933             0    98028  47.7379 -122.233           2720
3          1965             0    98136  47.5208 -122.393           1360
4          1987             0    98074  47.6168 -122.045           1800
...         ...           ...      ...      ...      ...            ...
21608      2009             0    98103  47.6993 -122.346           1530
21609      2014             0    98146  47.5107 -122.362           1830
21610      2009             0    98144  47.5944 -122.299           1020
21611      2004             0    98027  47.5345 -122.069           1410
21612      2008             0    98144  47.5941 -122.299           1020

       sqft_lot15  house_age
0            5650  new_house
1            7639  new_house
2            8062  new_house
3            5000  new_house
4            7503  new_house
...           ...        ...
21608        1509  new_house
21609        7200  new_house
21610        2007  new_house
21611        1287  new_house
21612        1357  new_house

[21613 rows x 22 columns]>

#### 2 - Crie uma nova coluna chamada: “dormitory_type”

###### Se o valor da coluna “bedrooms” for igual à 1 => ‘studio’Se o valor da coluna “bedrooms” for igual a 2 => ‘apartament’Se o valor da coluna “bedrooms” for maior que 2 => ‘house’

In [115]:
datahouses['dormitory_type'] = 'NA'

In [116]:
datahouses.loc[datahouses['bedrooms'] == 1, 'dormitory_type'] = 'studio'
datahouses.loc[datahouses['bedrooms'] == 2, 'dormitory_type'] = 'apartament'
datahouses.loc[datahouses['bedrooms'] >= 3, 'dormitory_type'] = 'house'

In [117]:
datahouses.head

<bound method NDFrame.head of                id       date     price  bedrooms  bathrooms  sqft_living  \
0      7129300520 2014-10-13  221900.0         3       1.00         1180
1      6414100192 2014-12-09  538000.0         3       2.25         2570
2      5631500400 2015-02-25  180000.0         2       1.00          770
3      2487200875 2014-12-09  604000.0         4       3.00         1960
4      1954400510 2015-02-18  510000.0         3       2.00         1680
...           ...        ...       ...       ...        ...          ...
21608   263000018 2014-05-21  360000.0         3       2.50         1530
21609  6600060120 2015-02-23  400000.0         4       2.50         2310
21610  1523300141 2014-06-23  402101.0         2       0.75         1020
21611   291310100 2015-01-16  400000.0         3       2.50         1600
21612  1523300157 2014-10-15  325000.0         2       0.75         1020

       sqft_lot  floors  waterfront  view  ...  sqft_basement  yr_built  \
0          5650     1.0           0     0  ...              0      1955
1          7242     2.0           0     0  ...            400      1951
2         10000     1.0           0     0  ...              0      1933
3          5000     1.0           0     0  ...            910      1965
4          8080     1.0           0     0  ...              0      1987
...         ...     ...         ...   ...  ...            ...       ...
21608      1131     3.0           0     0  ...              0      2009
21609      5813     2.0           0     0  ...              0      2014
21610      1350     2.0           0     0  ...              0      2009
21611      2388     2.0           0     0  ...              0      2004
21612      1076     2.0           0     0  ...              0      2008

       yr_renovated  zipcode      lat     long  sqft_living15  sqft_lot15  \
0                 0    98178  47.5112 -122.257           1340        5650
1              1991    98125  47.7210 -122.319           1690        7639
2                 0    98028  47.7379 -122.233           2720        8062
3                 0    98136  47.5208 -122.393           1360        5000
4                 0    98074  47.6168 -122.045           1800        7503
...             ...      ...      ...      ...            ...         ...
21608             0    98103  47.6993 -122.346           1530        1509
21609             0    98146  47.5107 -122.362           1830        7200
21610             0    98144  47.5944 -122.299           1020        2007
21611             0    98027  47.5345 -122.069           1410        1287
21612             0    98144  47.5941 -122.299           1020        1357

       house_age  dormitory_type
0      new_house           house
1      new_house           house
2      new_house      apartament
3      new_house           house
4      new_house           house
...          ...             ...
21608  new_house           house
21609  new_house           house
21610  new_house      apartament
21611  new_house           house
21612  new_house      apartament

[21613 rows x 23 columns]>

#### 3 - Crie uma nova coluna chamada: “condition_type”

###### Se o valor da coluna “condition” for menor ou igual à 2 => ‘bad’Se o valor da coluna “condition” for igual à 3 ou 4 => ‘regular’Se o valor da coluna “condition” for igual à 5 => ‘good’

In [118]:
datahouses['conditional_type'] = 'NA'

In [119]:
dh = datahouses['condition']
print(dh)

0        3
1        3
2        3
3        5
4        3
        ..
21608    3
21609    3
21610    3
21611    3
21612    3
Name: condition, Length: 21613, dtype: int64

In [131]:
# Está com algum bug, verificar depois
datahouses.loc[datahouses['condition'] <= 2, 'conditional_type'] = 'bad'
datahouses.loc[datahouses['condition'] == 3 | 4, 'conditional_type'] = 'regular'
datahouses.loc[datahouses['condition'] >= 5, 'conditional_type'] = 'good'

###### Outra forma
###### Em casos de dataframes maiores, é valido testar qual performa com mais desempenho

In [133]:
datahouses['condition'] = datahouses['condition'].astype( int )
datahouses['conditional_type'] = datahouses['condition'].apply( lambda x: 'bad' if x <= 2 else 'regular' if (x == 3) | (x == 4) else 'good' )

In [134]:
dh = datahouses['conditional_type']
print(dh)

0        regular
1        regular
2        regular
3           good
4        regular
          ...
21608    regular
21609    regular
21610    regular
21611    regular
21612    regular
Name: conditional_type, Length: 21613, dtype: object

In [135]:
datahouses.head

<bound method NDFrame.head of                id       date     price  bedrooms  bathrooms  sqft_living  \
0      7129300520 2014-10-13  221900.0         3       1.00         1180
1      6414100192 2014-12-09  538000.0         3       2.25         2570
2      5631500400 2015-02-25  180000.0         2       1.00          770
3      2487200875 2014-12-09  604000.0         4       3.00         1960
4      1954400510 2015-02-18  510000.0         3       2.00         1680
...           ...        ...       ...       ...        ...          ...
21608   263000018 2014-05-21  360000.0         3       2.50         1530
21609  6600060120 2015-02-23  400000.0         4       2.50         2310
21610  1523300141 2014-06-23  402101.0         2       0.75         1020
21611   291310100 2015-01-16  400000.0         3       2.50         1600
21612  1523300157 2014-10-15  325000.0         2       0.75         1020

       sqft_lot  floors  waterfront  view  ...  yr_built  yr_renovated  \
0          5650     1.0           0     0  ...      1955             0
1          7242     2.0           0     0  ...      1951          1991
2         10000     1.0           0     0  ...      1933             0
3          5000     1.0           0     0  ...      1965             0
4          8080     1.0           0     0  ...      1987             0
...         ...     ...         ...   ...  ...       ...           ...
21608      1131     3.0           0     0  ...      2009             0
21609      5813     2.0           0     0  ...      2014             0
21610      1350     2.0           0     0  ...      2009             0
21611      2388     2.0           0     0  ...      2004             0
21612      1076     2.0           0     0  ...      2008             0

       zipcode      lat     long  sqft_living15  sqft_lot15  house_age  \
0        98178  47.5112 -122.257           1340        5650  new_house
1        98125  47.7210 -122.319           1690        7639  new_house
2        98028  47.7379 -122.233           2720        8062  new_house
3        98136  47.5208 -122.393           1360        5000  new_house
4        98074  47.6168 -122.045           1800        7503  new_house
...        ...      ...      ...            ...         ...        ...
21608    98103  47.6993 -122.346           1530        1509  new_house
21609    98146  47.5107 -122.362           1830        7200  new_house
21610    98144  47.5944 -122.299           1020        2007  new_house
21611    98027  47.5345 -122.069           1410        1287  new_house
21612    98144  47.5941 -122.299           1020        1357  new_house

       dormitory_type  conditional_type
0               house           regular
1               house           regular
2          apartament           regular
3               house              good
4               house           regular
...               ...               ...
21608           house           regular
21609           house           regular
21610      apartament           regular
21611           house           regular
21612      apartament           regular

[21613 rows x 24 columns]>

#### 4 - Modifique o TIPO a Coluna “condition” para STRING

In [147]:
datahouses['condition'] = datahouses['condition'].astype( str )
dfcond = datahouses['condition']

In [148]:
datahouses.dtypes

id                           int64
date                datetime64[ns]
price                      float64
bedrooms                     int64
bathrooms                  float64
sqft_living                  int64
sqft_lot                     int64
floors                     float64
waterfront                   int64
view                         int64
condition                   object
grade                        int64
sqft_above                   int64
sqft_basement                int64
yr_built                     int64
yr_renovated                 int64
zipcode                      int64
lat                        float64
long                       float64
sqft_living15                int64
sqft_lot15                   int64
house_age                   object
dormitory_type              object
conditional_type            object
dtype: object

In [149]:
type(dfcond)

pandas.core.series.Series

#### 5 - Delete as colunas: “sqft_living15” e “sqft_lot15”

In [258]:
datahouses = datahouses.drop(['sqft_living15', 'sqft_lot15'], axis=1)

#### 6 - Modifique o TIPO a Coluna “yr_build” para DATE

In [259]:
datahouses.dtypes

id                           int64
date                datetime64[ns]
price                      float64
bedrooms                     int64
bathrooms                  float64
sqft_living                  int64
sqft_lot                     int64
floors                     float64
waterfront                   int64
view                         int64
condition                   object
grade                        int64
sqft_above                   int64
sqft_basement                int64
yr_built            datetime64[ns]
yr_renovated        datetime64[ns]
zipcode                      int64
lat                        float64
long                       float64
house_age                   object
dormitory_type              object
conditional_type            object
dtype: object

In [152]:
datahouses['yr_built'] = pd.to_datetime( datahouses['yr_built'], format='%Y-%m-%d' )

In [153]:
datahouses.dtypes

id                           int64
date                datetime64[ns]
price                      float64
bedrooms                     int64
bathrooms                  float64
sqft_living                  int64
sqft_lot                     int64
floors                     float64
waterfront                   int64
view                         int64
condition                   object
grade                        int64
sqft_above                   int64
sqft_basement                int64
yr_built            datetime64[ns]
yr_renovated                 int64
zipcode                      int64
lat                        float64
long                       float64
sqft_living15                int64
sqft_lot15                   int64
house_age                   object
dormitory_type              object
conditional_type            object
dtype: object

#### 7 - Modifique o TIPO a Coluna “yr_renovated” para DATE

In [154]:
datahouses.dtypes

id                           int64
date                datetime64[ns]
price                      float64
bedrooms                     int64
bathrooms                  float64
sqft_living                  int64
sqft_lot                     int64
floors                     float64
waterfront                   int64
view                         int64
condition                   object
grade                        int64
sqft_above                   int64
sqft_basement                int64
yr_built            datetime64[ns]
yr_renovated                 int64
zipcode                      int64
lat                        float64
long                       float64
sqft_living15                int64
sqft_lot15                   int64
house_age                   object
dormitory_type              object
conditional_type            object
dtype: object

In [285]:
# pode variar em versoes do python a conversão dessa forma, apresentando um erro na hora de conversão pois existem campos com valor diferente
# No caso dessa versão do python ele já esta jogando campos diferentes para a data default 1970-01-01 00:00:00.000000000
datahouses['yr_renovated'] = pd.to_datetime( datahouses['yr_renovated'], format='%Y-%m-%d' )

In [287]:
datahouses[['yr_renovated']].head(10)

                   yr_renovated
0 1970-01-01 00:00:00.000000000
1 1970-01-01 00:00:00.000001991
2 1970-01-01 00:00:00.000000000
3 1970-01-01 00:00:00.000000000
4 1970-01-01 00:00:00.000000000
5 1970-01-01 00:00:00.000000000
6 1970-01-01 00:00:00.000000000
7 1970-01-01 00:00:00.000000000
8 1970-01-01 00:00:00.000000000
9 1970-01-01 00:00:00.000000000

In [291]:
## Está é uma boa forma de fazer a conversão para campos com valores diferentes de data
datahouses['yr_renovated'] = datahouses['yr_renovated'].apply(lambda x: pd.to_datetime('1970-01-01', format='%Y-%m-%d') if x== 0 else 
                                                  pd.to_datetime(x, format='%Y-%m-%d') )

In [290]:
datahouses[['yr_renovated']].head(10)

                   yr_renovated
0 1970-01-01 00:00:00.000000000
1 1970-01-01 00:00:00.000001991
2 1970-01-01 00:00:00.000000000
3 1970-01-01 00:00:00.000000000
4 1970-01-01 00:00:00.000000000
5 1970-01-01 00:00:00.000000000
6 1970-01-01 00:00:00.000000000
7 1970-01-01 00:00:00.000000000
8 1970-01-01 00:00:00.000000000
9 1970-01-01 00:00:00.000000000

In [289]:
datahouses.dtypes

id                           int64
date                datetime64[ns]
price                      float64
bedrooms                     int64
bathrooms                  float64
sqft_living                  int64
sqft_lot                     int64
floors                     float64
waterfront                   int64
view                         int64
condition                   object
grade                        int64
sqft_above                   int64
sqft_basement                int64
yr_built            datetime64[ns]
yr_renovated        datetime64[ns]
zipcode                      int64
lat                        float64
long                       float64
house_age                   object
dormitory_type              object
conditional_type            object
dtype: object

#### 8 - Qual a data mais antiga de construção de um imóvel?

In [166]:
old_data = datahouses[['id', 'yr_built']].sort_values( 'yr_built', ascending=False ).loc[0,'yr_built']
print( 'A data de construção mais antiga é: {}'.format( old_data ) )

A data de construção mais antiga é: 1970-01-01 00:00:00.000001955

In [167]:
df = datahouses['yr_built']
print(df)

0       1970-01-01 00:00:00.000001955
1       1970-01-01 00:00:00.000001951
2       1970-01-01 00:00:00.000001933
3       1970-01-01 00:00:00.000001965
4       1970-01-01 00:00:00.000001987
                     ...
21608   1970-01-01 00:00:00.000002009
21609   1970-01-01 00:00:00.000002014
21610   1970-01-01 00:00:00.000002009
21611   1970-01-01 00:00:00.000002004
21612   1970-01-01 00:00:00.000002008
Name: yr_built, Length: 21613, dtype: datetime64[ns]

#### Ou modo mais pythonico

In [296]:
datahouses['yr_built'].min()

Timestamp('1970-01-01 00:00:00.000001900')

#### 9 - Qual a data mais antiga de renovação de um imóvel?

In [168]:
old_data = datahouses[['id', 'yr_renovated']].sort_values( 'yr_renovated', ascending=False ).loc[0,'yr_renovated']
print( 'A data de renovação mais antiga é: {}'.format( old_data ) )

A data de renovação mais antiga é: 1970-01-01 00:00:00

In [169]:
df = datahouses['yr_renovated']
print(df)

0       1970-01-01 00:00:00.000000000
1       1970-01-01 00:00:00.000001991
2       1970-01-01 00:00:00.000000000
3       1970-01-01 00:00:00.000000000
4       1970-01-01 00:00:00.000000000
                     ...
21608   1970-01-01 00:00:00.000000000
21609   1970-01-01 00:00:00.000000000
21610   1970-01-01 00:00:00.000000000
21611   1970-01-01 00:00:00.000000000
21612   1970-01-01 00:00:00.000000000
Name: yr_renovated, Length: 21613, dtype: datetime64[ns]

#### Forma pythonica:

In [298]:
datahouses.loc[datahouses['yr_renovated'] > pd.to_datetime('1900-01-01', format='%Y-%m-%d'), 'yr_renovated'].min()

Timestamp('1970-01-01 00:00:00')

#### 10 - Quantos imóveis tem 2 andares?

In [173]:
datahouses.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15', 'house_age',
       'dormitory_type', 'conditional_type'],
      dtype='object')

In [178]:
# no dataframe localizar quantos apartamentos existem com 2 andares sem mostrar indice
df = datahouses.loc[datahouses['floors'] == 2, :]

In [179]:
print(len(df))

8241

# Pythonismo

In [300]:
datahouses.loc[datahouses['floors'] == 2, 'id'].size

8241

#### 11 - Quantos imóveis estão com a condição igual a “regular” ?

In [190]:
df = datahouses.loc[datahouses['conditional_type'] == 'regular', :]

In [191]:
print(len(df))

19710

#### Ou

In [302]:
datahouses.loc[datahouses['conditional_type'] == 'regular', 'id'].size

19710

#### 12 - Quantos imóveis estão com a condição igual a “bad”e possuem “vista para água” ?

In [304]:
df = datahouses.loc[(datahouses['conditional_type'] == 'bad') & (datahouses['waterfront'] == '1'), :]

# Entender o porque está dando valor 0 em uma das formas

In [319]:
print(len(df))

TypeError: object of type 'int' has no len()

#### Ou

In [320]:
df = datahouses.loc[(datahouses['conditional_type'] == 'bad') & (datahouses['waterfront'] == 1), :].shape[0]

In [321]:
print(df)

2

In [322]:
datahouses.loc[(datahouses['conditional_type'] == 'bad') & (datahouses['waterfront'] == 1), 'id'].size

2

#### 13 - Quantos imóveis estão com a condição igual a “good” e são “new_house”?

In [211]:
df = datahouses.loc[(datahouses['conditional_type'] == 'good') & (datahouses['house_age'] == 'new_house'), :].shape[0]

In [212]:
print(df)

1701

In [323]:
datahouses.loc[(datahouses['conditional_type'] == 'good') & (datahouses['house_age'] == 'new_house'), 'id'].size

1701

#### 14 - Qual o valor do imóvel mais caro do tipo “studio” ?

In [217]:
datahouses.head(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,house_age,dormitory_type,conditional_type
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,1970-01-01 00:00:00.000001955,1970-01-01 00:00:00.000000000,98178,47.5112,-122.257,1340,5650,new_house,house,regular
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,1970-01-01 00:00:00.000001951,1970-01-01 00:00:00.000001991,98125,47.7210,-122.319,1690,7639,new_house,house,regular
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,1970-01-01 00:00:00.000001933,1970-01-01 00:00:00.000000000,98028,47.7379,-122.233,2720,8062,new_house,apartament,regular
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,1970-01-01 00:00:00.000001965,1970-01-01 00:00:00.000000000,98136,47.5208,-122.393,1360,5000,new_house,house,good
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,1970-01-01 00:00:00.000001987,1970-01-01 00:00:00.000000000,98074,47.6168,-122.045,1800,7503,new_house,house,regular

In [241]:
datahouses2 = datahouses[['id','price','dormitory_type']]
# Linha abaixo apenas para contar quantos existem.
df_studio_price = datahouses2.loc[datahouses2['dormitory_type'] == 'studio', :].shape[0]
# Linha abaixo apenas para fazer o print da coluna e ordenar do maior valor ao menor e também utilizar em uma diferente for
# de busca.
df_studio_price_all = datahouses2.loc[datahouses2['dormitory_type'] == 'studio', :]
print(df_studio_price)

199

In [244]:
df_studio_price_all.sort_values(by='price', ascending=False)

               id      price dormitory_type
8445    724069023  1247000.0         studio
9888   1231000310   713000.0         studio
4410   4083304190   680000.0         studio
8165   1797500530   655100.0         studio
19273  9164100035   655000.0         studio
...           ...        ...            ...
16530  2114700500    90000.0         studio
7992   2734100835    90000.0         studio
3108   1721801591    89950.0         studio
465    8658300340    80000.0         studio
1149   3421079032    75000.0         studio

[199 rows x 3 columns]

In [243]:
df = df_studio_price_all[['id', 'price']].sort_values( 'price', ascending=False )
print( 'O valor maior para imoveis do tipo stuidio é: {}'.format( df.iloc[0, 0] ) )

O valor maior para imoveis do tipo stuidio é: 724069023

# Pythonico

In [326]:
datahouses.loc[datahouses['dormitory_type'] == 'studio', 'price'].max()

1247000.0

#### 15 - Quantos imóveis do tipo “apartment” foram reformados em 2015 ?

In [245]:
datahouses.dtypes

id                           int64
date                datetime64[ns]
price                      float64
bedrooms                     int64
bathrooms                  float64
sqft_living                  int64
sqft_lot                     int64
floors                     float64
waterfront                   int64
view                         int64
condition                   object
grade                        int64
sqft_above                   int64
sqft_basement                int64
yr_built            datetime64[ns]
yr_renovated        datetime64[ns]
zipcode                      int64
lat                        float64
long                       float64
sqft_living15                int64
sqft_lot15                   int64
house_age                   object
dormitory_type              object
conditional_type            object
dtype: object

In [249]:
## dormitory_type representa o tipo de imovel e yr_renovated quando foram renovados
df = datahouses.loc[(datahouses['dormitory_type'] == 'apartament') & (datahouses['yr_renovated'] >= '2015-01-01') & (datahouses['yr_renovated'] <= '2015-12-31'), :]
print(len(df))

0

In [328]:
datahouses.loc[datahouses['yr_renovated'] == pd.to_datetime('2015-01-01'), 'id'].size

0

#### 16 - Qual o maior número de quartos que um imóveis do tipo “house” possui ?

In [256]:
df_more_bedrooms = datahouses.loc[datahouses2['dormitory_type'] == 'house', :]
df = df_more_bedrooms[['id', 'bedrooms', 'dormitory_type']].sort_values( 'bedrooms', ascending=False )
print(df)

               id  bedrooms dormitory_type
15870  2402100895        33          house
8757   1773100755        11          house
13314   627300145        10          house
19254  8812401450        10          house
15161  5566100170        10          house
...           ...       ...            ...
9398   9287800375         3          house
9400   2407000145         3          house
9401    452001280         3          house
9403   4232901120         3          house
21611   291310100         3          house

[18641 rows x 3 columns]

#### 17 - Quantos imóveis “new_house” foram reformados no ano de 2014?

In [257]:
## dormitory_type representa o tipo de imovel e yr_renovated quando foram renovados
df = datahouses.loc[(datahouses['house_age'] == 'new_house') & (datahouses['yr_renovated'] >= '2014-01-01') & (datahouses['yr_renovated'] <= '2014-12-31'), :]
print(len(df))

0

In [261]:
## dormitory_type representa o tipo de imovel e yr_renovated quando foram renovados
df = datahouses.loc[(datahouses['house_age'] == 'new_house') & (datahouses['yr_renovated'].dt.year >= 2014), :]
print(len(df))

0

#### 18 - Selecione as colunas: “id”, “date”, “price”, “floors”, “zipcode” pelo método:

###### Direto pelo nome das colunas.Pelos Índices.Pelos Índices das linhas e o nome das colunasÍndices Booleanos

#### 19 - Salve um arquivo .csv com somente as colunas do item 10 ao 17.¶

###### Modifique a cor dos pontos no mapa de “pink” para “verde-escuro”